{{#*inline "main"}}
    <main class="page-404">
        <h1>404</h1>
        <picture>
            <img src="/static/image/page/404/stay-on-marked-trail.webp" alt="404 - Stay on Marked Trail">
        </picture>
    </main>
{{/inline}}
{{> base}}
