{{#*inline "main"}}
<main class="page-home">
  <h1>Project: {{metadata.project}}</h1>
  <h2>Description: {{metadata.description}}</h2>

  <p>
    Hello, my name is <b><a href="https://www.toddgriffin.me/">Todd Griffin</a></b> and I have too many project ideas.
    In order to light a fire under myself to accomplish something with all the domain names I've bought over the years,
    I've created blank landing pages for all of them.
    You can find all of my other projects <b><a href="https://www.toddgriffin.me/projects">HERE</a></b>.
  </p>

  <p>
    If you like this project idea, please annoy me on <b><a href="https://twitter.com/goddtriffin">Twitter</a></b> about
    it!
    I am going to succeed in finishing all of these projects, and the more popular ideas will get prioritized for
    completion first.
    So please loudly let me know which ones you find the most interesting!
  </p>
</main>
{{/inline}}
{{> base}}
