@use "../abstracts/variables";
@use "../abstracts/media-queries";

nav {
  grid-area: nav;
  display: flex;
  align-items: center;

  @include media-queries.for_breakpoint(desktop tablet) {
    text-align: left;
  }
  @include media-queries.for_breakpoint(mobile) {
    text-align: center;
  }

  > ul {
    width: 100%;

    @include media-queries.for_breakpoint(desktop tablet) {}
    @include media-queries.for_breakpoint(mobile) {
      margin-bottom: 1rem;
    }

    > li {
      display: inline-block;
      list-style-type: none;

      @include media-queries.for_breakpoint(desktop tablet) {
        margin-right: 2rem;
        font-size: 1.25rem;
      }
      @include media-queries.for_breakpoint(mobile) {
        margin-right: 1rem;
        font-size: 1.25rem;
      }
    }
  }
}
