<!DOCTYPE html>
<html lang="{{metadata.language_code}}-{{metadata.country_code}}">
    <head>
        {{> metadata}}
        {{> favicon}}

        {{#each page.style_sheets}}
        <link rel="stylesheet" type="text/css" href="{{this}}" />
        {{/each}}
    </head>
    <body class="color-background">
        {{> header}}
        {{> main}}
        {{> footer}}

        {{#each page.scripts}}
        <script type="module" src="{{this}}"></script>
        {{/each}}
    </body>
</html>
