@use "./variables";
@use "./media-queries";

.grid-item {
  border-radius: variables.$border-radius;
  position: relative;
  text-align: center;

  >.grid-item-header {
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translateY(-130%);

    >h2 {
      @include media-queries.for_breakpoint(desktop tablet) {
        font-size: 1.5rem;
      }

      @include media-queries.for_breakpoint(mobile) {
        font-size: 1.25rem;
      }
    }
  }

  >a {
    >picture {
      >img {
        border-radius: variables.$border-radius;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
